html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.container{
    margin: none;
    margin-top: none;
    position: relative
}

.container{
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    background: #4c4c4c;
}

.slide-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide-img img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre, .nxt{
    cursor: pointer;
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 99,
}
.pre{
    left:0
}
.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.6);
}

.slide-img{
    z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3{
    background: #fff;
}